.box1 {
    background-color: palegreen;
    border: 2px solid rgb(0, 0, 0); 
    width: 60%;
    height: 50px; 
    margin: 1em;  
}

.box2 {
    background-color: yellow;
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    width: 10%;
    margin: 1em;   
}

.box3 {
    background-color: orangered;
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    width: 47%;
    margin-right: 23em; 
    margin-left: 9em;
    margin-top: -7.5em;
}

.box4 {
    background-color: yellow;
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    width: 10%;
    margin: 1em;   
}


.box5 {
    background-color: skyblue;
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    width: 47%; 
    margin-right: 23em; 
    margin-left: 9em;
    margin-top: -7.5em;
    
}
