body {
    background-color:skyblue;
    color:black;
    font-family: Arial Rounded MT Bold;


}

#header {
    background-color:blue;
    text-align: center;
    padding: 10px;
}


#header h1 {
    font-family: Arial Black;
    color:black;
}

.gambar img {
    width: 300px;
}

.bBesar {
    font-size: 50px;
    color: red;
    display: inline;
}

#header blockquote {
    background-color: #a1a1a1;
}

.menu ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}
.menu a {
    text-decoration: none;

}

.gambar {
    text-align: center;
}

.bigger {
    font-size: 20px;
}
.fp::first-letter {
    font-size: 50px;
    color:black;
}

.koleksi {
    text-align: center;
}

.koleksi img {
    width: 20%;
}

.promo {
    background-color:blanchedalmond;
    color:black;
    text-align: center;
}

.promo ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.promo a {
    text-decoration: none;
}