.box1 {
    background-color: yellow;
    border: 2px solid rgb(0, 0, 0);
    width: 80px;
    height: 31px; 
    margin: 1em; 
}

.box2 {
    background-color: orangered;
    border: 2px solid rgb(0, 0, 0);
    width: 39.4%;
    height: 30px;
    margin-left: 6.9em; 
    margin-top: -3.2em;
   
}

.box3 {
    background-color: palegreen;
    border: 2px solid rgb(0, 0, 0);
    width: 80px;
    height: 251px;
    margin: 1em;
}

.box4 {
    background-color: silver;
    border: 2px solid rgb(0, 0, 0);
    width: 30%;
    height: 251px;
    margin-left: 6.9em;
    margin-top: -16.9em;

}

.box5 {
    background-color: skyblue;
    border: 2px solid rgb(0, 0, 0);
    width: 80px;
    height: 251px;
    margin-left: 26.7em;
    margin-top: -15.9em;
}

.box6 {
    background-color: blue;
    border: 2px solid rgb(0, 0, 0);
    margin: 1em;
    width: 48.7%;
    height: 30px;
}
